[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
python-dotenv = "*"
black = "==18.9b0"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.7"
